
database:
  host: localhost
  port: 5432
  database: vitalgraphdb
  username: vitalgraph_user
  password: vitalgraph_password
  
  pool_size: 10
  max_overflow: 20
  pool_timeout: 30
  pool_recycle: 3600
  
tables:
  prefix: "vitalgraph1_"
  
 
auth:
  root_username: "admin"
  root_password: "admin"
  

app:
  log_level: INFO
  
 